html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#home {
  position:relative;
  width: 100%;
  
}

body {
  margin: 0;
}

header {
  position:absolute;
  display:block;
  top:0;


  width:100%;
  z-index:900;

}

.part-one {
  
  position:relative;
  display:block;
  width:100%;
  height:580px;
  border-bottom:none;
  background-image:url("../assets/students.jpg");
  background-size:cover;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  
 
/*    border-bottom:5px solid ;*/
}

.nav {
  display:flex;
  height:100%;
}

.vertical_nav {
  position:fixed;
  top:43%;
  left:-160px;
/*  display:block;*/
  
  -webkit-transform:rotate(-90deg);
  z-index:900;
/*  border:1px solid;*/
}

.social {
  width:35px;
  margin-left:4%;
}

.ocs_logo {
  width:150px;
}

.logo {
  width:90%;
  position:relative;
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-top:19%;
  margin-bottom:-1%;
}

.social_container {
  width:20%;
  float:right;
 
/*  border:1px solid red;*/
  height:50px;
}

.logo_container {
  position:relative;
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:200px;
}


.part-one-left {
  width:40%;
/*  border:1px solid;*/
  height:385px;
  float:left;
  margin-left:10%;
}

.text_wrapper {
  position:relative;
  /*  border:1px solid;*/
}

.quote {
  position:relative;
  display:block;
  width:100%;
  text-align:center;
  color:white;
  font-size:310%;
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
  padding:1%;
  
  background-color:black;
  
}

h1 {
  position:relative;
  text-align:center;
  color:black;
  font-size:250%;
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
  line-height:20px;
  
}

h2 {
  position:relative;
  text-align:center;
  color:black;
  font-size:190%;
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
  line-height:20px;
  
}

h3 {
  position:relative;
  text-align:center;
  color:white;
  font-size:360%;
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
  line-height:20px;
  
  
}

p {
  position:relative;
  text-align:center;
  color:black;
  font-size:150%;
  font-family: 'Montserrat', sans-serif;
  font-weight:400;
  line-height:20px;
  
}

a {
  color:white;
  font-size:174%;
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
  text-decoration:none;
  
}

ul {
  list-style-type: none;

  
  
}

.nav li {
  align-self:center;
  flex-grow:1;
  
  margin-right:2%;
  font-size:110%;
/*  border:1px solid;*/
  background-color:#E71E27;
  padding:3%;
  text-align:center;
}

.nav:first-child {
  flex-grow:2;
  
  
}






.borders {
  position: relative;
/*  border: 5px solid #000;*/
  z-index:300;
  
}
 
.work_blocks {
  width:100%;
}

.wrapper_work {
  position:relative;
  width:60%;
  max-width:900px;
/*    border:1px solid;*/
  height:auto;
  margin-right:auto;
  margin-left:auto;
  margin-top:45px;
}

#work {
  position:relative;
  display:block;
  float:left;
  width:100%;
  height:300px;
  background-color:#E71E27;
  margin-bottom:45px;
  visibility:hidden;
  
}

#work-one {
  position:relative;
  display:block;
  float:left;
  width:40%;
  height:645px;
  background-color:#E71E27;
  margin-bottom:45px;
  visibility:hidden;
  
  /* animation-delay:.5s;
  -webkit-animation-delay:.5s;*/
  
}

#work-two {
  position:relative;
  display:block;
  float:right;
  width:55%;
  height:300px;
  /*  background-color:red;*/
  margin-bottom:45px;
  visibility:hidden;
  
  /*  border:1px solid;*/
  
  animation-delay:.5s;
  -webkit-animation-delay:.5s;
  
}

.kpc {
  width:100%;
  
}
#work-three {
  position:relative;
  display:block;
  float:right;
  width:55%;
  height:300px;
  /*  background-color:red;*/
  visibility:hidden;
  margin-bottom:45px;
  animation-delay:1s;
  -webkit-animation-delay:1s;
}

#work-four {
  position:relative;
  display:block;
  float:left;
  width:100%;
  height:300px;
  background-color:#E71E27;
  margin-bottom:45px;
  visibility:hidden;
  
}

#work-five {
  position:relative;
  display:block;
  float:left;
  width:350px;
  height:300px;
  background-color:#EF3F23;
  margin-bottom:27px;
  visibility:hidden;
  background-image:url("../assets/travel_baby.png");
}

#work-five:hover {
  position:relative;
  display:block;
  float:left;
  width:350px;
  height:300px;
  background-color:#EF3F23;
  margin-bottom:27px;
  visibility:visible;
  background-image:url("../assets/travel_baby_hover.png");
}



#work-six {
  position:relative;
  display:block;
  float:right;
  width:275px;
  height:300px;
  background-color:#E71E27;
  margin-bottom:27px;
  visibility:hidden;
  animation-delay:.5s;
  -webkit-animation-delay:.5s;
  
}

.contact {
  width:100%;
  background-color:#1B1B1B;
  height:400px;
}

