html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#home {
  position:relative;
  width:100%;
/*  border:1px solid red;*/
  
}

body {
  margin: 0;
}

header {
  position:absolute;
  display:block;
  top:0;
  width:100%;
  z-index:900;

}

.part-one {
  
  position:relative;
  display:block;
  width:100%;
  height:580px;
  border-bottom:none;
  background-image:url("../assets/students.jpg");
  background-size:cover;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  
 
/*    border-bottom:5px solid ;*/
}

.absolute {
  width:40px;
  position:absolute !important;
  
  top:50px;
  left:0;
  
}







 li {
  
  display:inline-block;
  padding:14px;
  font-size:120%;
  background-color:#E71E27;
  margin-right:20px;
  text-align:center;
}



.social {
  width:35px;
  margin-left:4%;
}

 li:hover{
  background-color:black;
}

.ocs_logo {
  position:absolute;
  top:0;
  right:5%;
  width:150px;
}

.logo {
  width:90%;
  position:relative;
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-top:19%;
  margin-bottom:-1%;
}

/*.social_container {
  position:absol;
  float:right;
  height:50px;

/*  border:1px solid red;*/

}*/

.logo_container {
  position:relative;
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:200px;
}


.part-one-left {
  width:40%;
/*  border:1px solid;*/
  height:385px;
  float:left;
  margin-left:10%;
}

.text_wrapper {
  position:relative;
  /*  border:1px solid;*/
}

.quote {
  position:relative;
  display:block;
  width:100%;
  text-align:center;
  color:white;
  font-size:310%;
  font-family: 'Montserrat', sans-serif;
  font-weight:400;
  padding:1%;
  margin-bottom:40px;
  background-color:black;
  
}

h1 {
  position:relative;
  text-align:center;
  color:black;
  font-size:250%;
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
  line-height:20px;
  
}

h2 {
  position:relative;
  text-align:center;
  color:black;
  font-size:210%;
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
  line-height:10px;
  
}

h3 {
  position:relative;
  text-align:center;
  color:white;
  font-size:360%;
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
  line-height:20px;
  
  
}

p {
  position:relative;
  text-align:center;
  color:black;
  font-size:150%;
  font-family: 'Montserrat', sans-serif;
  font-weight:400;
  line-height:20px;
  
}

a {
  color:white;
  font-size:165%;
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
  text-decoration:none;
 
/*  border:1px solid;*/
}

a:visited {
  color:white;
  font-size:174%;
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
  text-decoration:none;
}

.ul_wrap {
  position:absolute;
  top:260px;
  left:-250px;
  z-index:1000;
  
}

ul {

  list-style-type: none;
  transform:rotate(-90deg);
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -o-transform:rotate(-90deg);
/*  border:1px solid;*/

  
  
}



/*.nav:first-child {
  flex-grow:2;


}
*/





.borders {
  position: relative;
/*  border: 5px solid #000;*/
  z-index:300;
  
}
 
.work_blocks {
  width:100%;
}

.wrapper_work {
  position:relative;
  width:80%;
  max-width:1290px;
/*    border:1px solid;*/
  height:auto;
  margin-right:auto;
  margin-left:auto;
  
  padding-left:2%;
}

#student_quote {
  position:relative;
  display:block;
  float:left;
  width:100%;
  
  color:#CCCCCC;
  font-size:315%;
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
  margin-top:30px;
  margin-bottom:30px;
  visibility:hidden;
  text-align:center;
  
}


#student_quote h2 {
  position:relative;
  text-align:center;
  color:black;
  font-size:15px;
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
  line-height:10px;

  
}

#student_quote_two {
  position:relative;
  display:block;
  float:left;
  width:100%;
  color:#CCCCCC;
  margin-top:30px;
  margin-bottom:30px;
  font-size:315%;
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
  visibility:hidden;
  text-align:center;
  
}


#student_quote_two h2 {
  position:relative;
  text-align:center;
  color:black;
  font-size:15px;
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
  line-height:10px;
  
}




.kpc {
  width:100%;
  
}



.arrow {
  width:40px;
}




.button {
  position:relative;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  width:130px;
  height:auto;
  background-color:black;
  color:white;
  font-size:15px;
  font-family: 'Montserrat', sans-serif;
  font-weight:400;
  padding:1%;
}

.over-work h3 {
position:relative;
margin-top:100px;
margin-bottom:0;
text-align:center;
line-height:10px;
color:white;
font-size:28px;
font-family: 'Montserrat', sans-serif;
font-weight:400;
}

.over-work h4 {
position:relative;
text-align:center;
line-height:10px;
color:white;
font-size:15px;
font-family: 'Montserrat', sans-serif;
font-weight:400;
}

#work-one:hover > .over-work {
  visibility:visible;
}

#work-two:hover > .over-work {
  visibility:visible;
}

#work-three:hover > .over-work {
  visibility:visible;
}
#work-four:hover > .over-work {
  visibility:visible;
}
#work-five:hover > .over-work {
  visibility:visible;
}
#work-six:hover > .over-work {
  visibility:visible;
}


#work-one {
  position:relative;
  display:block;
  float:left;
  width:275px;
  height:275px;
  background-color:#EF3F23;
  visibility:hidden;
  background-image:url("../assets/work_one.jpg");
  border-radius:50%;
  background-position: center;
  margin:20px;
  border:4px solid #CCCCCC;
}

.over-work {
  position:absolute;
  top:-3px;
  left:-3px;
  display:block;
  width:275px;
  height:275px;
  background-color:#EF3F23;
  visibility:hidden;
  opacity:.5;
  background-color:red;
  border-radius:50%;
}





#work-two {
  position:relative;
  display:block;
  float:left;
  width:275px;
  height:275px;
  background-color:#EF3F23;
  visibility:hidden;
  background-image:url("../assets/work_one.jpg");
  border-radius:50%;
  background-position: center;
  margin:20px;
  border:4px solid #CCCCCC;
}



#work-three {
  position:relative;
  display:block;
  float:left;
  width:275px;
  height:275px;
  background-color:#EF3F23;
  visibility:hidden;
  background-image:url("../assets/work_one.jpg");
  border-radius:50%;
  background-position: center;
  margin:20px;
  border:4px solid #CCCCCC;
}




#work-four {
  position:relative;
  display:block;
  float:left;
  width:275px;
  height:275px;
  background-color:#EF3F23;
  visibility:hidden;
  background-image:url("../assets/work_one.jpg");
  border-radius:50%;
  background-position: center;
  margin:20px;
  border:4px solid #CCCCCC;
}



#work-five {
  position:relative;
  display:block;
  float:left;
  width:275px;
  height:275px;
  background-color:#EF3F23;
  visibility:hidden;
  background-image:url("../assets/work_one.jpg");
  border-radius:50%;
  background-position: center;
  margin:20px;
  border:4px solid #CCCCCC;
}



#work-six {
  position:relative;
  display:block;
  float:left;
  width:275px;
  height:275px;
  background-color:#EF3F23;
  visibility:hidden;
  background-image:url("../assets/work_one.jpg");
  border-radius:50%;
  background-position: center;
  margin:20px;
  border:4px solid #CCCCCC;
}

.contact {
  position:relative;
  width:100%;
  background-color:#1B1B1B;
  
}
.contact h1 {
  color:white;
  font-size:35px;
}
.contact h2 {
  color:white;
  font-size:25px;
  font-weight:400;
}

.contact_left {
  width:40%;
  margin-left:5%;
 
  float:left;
  
}
.contact_left_inner {
  width:50%;
  float:left;
  
}
.contact_left_inner_right {
  width:50%;
  float:right;
 
}

.contact_right {
  width:50%;
  float:right;
  border:1px solid red;
}

hr {
  color:white;
  width:50%;
}


