html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#home {
  position:relative;
  width: 100%;
  
}

body {
  margin: 0;
}

header {
  position:absolute;
  display:block;
  top:0;
  background-color:black;
  height:50px;
  width:100%;
  z-index:900;
  
}

.part-one {
  margin-top:50px;
  position:relative;
  display:block;
  width:100%;
  height:625px;
  overflow:hidden;
  margin-left:auto;
  margin-right:auto;
  border-bottom:none;
  background-image:url("../jeannie_header.jpg");
  background-size:cover;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  
 
  /*  border:1px solid;*/
}

.nav {
  display:flex;
   height:100%;
  
}
.social {
  width:35px;
  margin-left:4%;
}

.logo {
  width:40%;
  position:relative;
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-top:5%;
  margin-bottom:-7%;
}

.social_container {
  width:20%;
  float:right;
  padding:.5%;
  padding-top:1%;
/*  border:1px solid red;*/
  height:50px;
}

.circles {
  width:200px;
  position:relative;
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-top:-4%;
}
.part-one-left {
  width:60%;
  /*  border:1px solid;*/
  height:625px;
  float:left;
}

.text_wrapper {
  position:relative;
  /*  border:1px solid;*/
}

.quote {
  background-color:white;
  border-top:5px solid black;
  border-bottom:5px solid black;
  position:relative;
  display:block;
  width:100%;
  text-align:center;
  color:#CCCCCC;
  font-size:310%;
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
  padding:1%;
  
}

h1 {
  position:relative;
  text-align:center;
  color:black;
  font-size:360%;
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
  line-height:30px;
  
}

a {
  color:white;
  font-size:174%;
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
  text-decoration:none;
  
}

ul {
  list-style-type: none;

  
  
}

.nav li {
  align-self:center;
  flex-grow:1;
   margin-left:1%;
  margin-right:1%;
  font-size:120%;
/*  border:1px solid;*/
  background-color:#90D4D3;
  padding:2%;
  text-align:center;
}

.nav:first-child {
  flex-grow:2;
  margin-right:50px;
  
}


p {
  
  text-align:left;
  color:black;
  font-size:160%;
  font-family: 'Montserrat', sans-serif;
  font-weight:400;
}


.borders {
  position: relative;
  border: 5px solid #000;
  z-index:300;
  
}
 
.work_blocks {
  width:100%;
}

.wrapper_work {
  position:relative;
  width:60%;
  max-width:900px;
/*    border:1px solid;*/
  height:auto;
  margin-right:auto;
  margin-left:auto;
  margin-top:45px;
}

#work {
  position:relative;
  display:block;
  float:left;
  width:100%;
  height:300px;
  background-color:purple;
  margin-bottom:45px;
  visibility:hidden;
  
}

#work-one {
  position:relative;
  display:block;
  float:left;
  width:40%;
  height:645px;
  background-color:purple;
  margin-bottom:45px;
  visibility:hidden;
  
  /* animation-delay:.5s;
  -webkit-animation-delay:.5s;*/
  
}

#work-two {
  position:relative;
  display:block;
  float:right;
  width:55%;
  height:300px;
  /*  background-color:red;*/
  margin-bottom:45px;
  visibility:hidden;
  
  /*  border:1px solid;*/
  
  animation-delay:.5s;
  -webkit-animation-delay:.5s;
  
}

.kpc {
  width:100%;
  
}
#work-three {
  position:relative;
  display:block;
  float:right;
  width:55%;
  height:300px;
  /*  background-color:red;*/
  visibility:hidden;
  margin-bottom:45px;
  animation-delay:1s;
  -webkit-animation-delay:1s;
}

#work-four {
  position:relative;
  display:block;
  float:left;
  width:100%;
  height:300px;
  background-color:purple;
  margin-bottom:45px;
  visibility:hidden;
  
}

#work-five {
  position:relative;
  display:block;
  float:left;
  width:350px;
  height:300px;
  background-color:#EF3F23;
  margin-bottom:27px;
  visibility:hidden;
  background-image:url("../assets/travel_baby.png");
}

#work-five:hover {
  position:relative;
  display:block;
  float:left;
  width:350px;
  height:300px;
  background-color:#EF3F23;
  margin-bottom:27px;
  visibility:visible;
  background-image:url("../assets/travel_baby_hover.png");
}



#work-six {
  position:relative;
  display:block;
  float:right;
  width:275px;
  height:300px;
  background-color:purple;
  margin-bottom:27px;
  visibility:hidden;
  animation-delay:.5s;
  -webkit-animation-delay:.5s;
  
}

