
/*colors*/
/*red: #E71E27*/
/*background: rgba(231, 30, 39 0.5);*/

/*black*/
/*background: rgba(27, 27, 27 0.5);*/




html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#home {
  position:relative;
  width:100%;
  /*  border:1px solid red;*/
  
}

body {
  margin: 0;
}

/*clear fix*/
.clearfix::after {
  content:" ";
  display:table;
  clear:both;
  
}

/*text*/
h1 {
  position:relative;
  text-align:center;
  color:black;
  font-size:30px;
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
  line-height:37px;
}

h1.white {
  color:white;
  margin-top:-5px;
}

h2 {
  position:relative;
  text-align:center;
  color:black;
  font-size:29px;
  font-family: 'Titillium Web', sans-serif;
  font-weight:300;
  line-height:10px;
  margin-left:-1%;
  margin-bottom:3%;
}

h2 strong {
  font-weight:700;
}

h3 {
  position:relative;
  text-align:center;
  color:white;
  font-size:360%;
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
  line-height:20px;
  
  
}

h4 {
  position:relative;
  text-align:left;
  line-height:29px;
  color:white;
  font-size:21px;
  font-family: 'Montserrat', sans-serif;
  font-weight:350;
  
}

p {
  position:relative;
  text-align:center;
  color:black;
  font-size:170%;
  font-family: 'Montserrat', sans-serif;
  font-weight:350;
  line-height:30px;
  
}

a {
  color:white;
  font-size:165%;
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
  text-decoration:none;
 
  /*  border:1px solid;*/
}

a:visited {
  color:white;
  font-size:174%;
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
  text-decoration:none;
}

.ul_wrap {
  position:fixed;
  top:250px;
  left:-264px;
  z-index:1000;
  transform:rotate(-90deg);
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -o-transform:rotate(-90deg);

  
}

ul {
  list-style-type: none;
}

li {
  
  display:inline-block;
  padding:14px;
  font-size:100%;
  background-color:#E71E27;
  margin-right:7px;
  text-align:center;
}

li:hover{
  background-color:black;
}

/*header */
header {
  position:absolute;
  display:block;
  top:0;
  width:100%;
  z-index:900;

}

/*hero section 1*/
.part-one {
  position:relative;
  display:block;
  width:100%;
  height:575px;
  background-image:url("../assets/students.jpg");
  background-size:cover;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-position:50% 50%;

}

/*ocs logo top*/
.ocs_logo {
  position:absolute;
  top:0;
  right:5%;
  width:150px;
}

/*ocs logo bottom*/
.ocs_logo2 {
  position:absolute;
  bottom:-13px;
  right:5%;
  width:150px;
}

/*drakon logo*/
.logo {
  position:relative;
  width:350px;
  margin-right:auto;
  margin-left:auto;
  margin-bottom:-2%;
}

.logo_container {
  position:relative;
  display:block;
  width:200px;
  
}

.buttontop {
  position:relative;
  border:none;
  width:200px;
  background-color:#E71E27;
  color:white;
  text-align:center;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  padding:20px;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
}
.buttontop:hover {
  
  background-color:black;
  
}



/*section 1 float left*/

.part-one-left {
  position:absolute;
  bottom:50px;
  width:100%;
  margin-right:auto;
  margin-left:auto;
  /*  border:1px solid;*/
}

.text_wrapper {
  position:relative;
  position:relative;
  margin-right:auto;
  margin-left:auto;
  margin-top:-20px;
  margin-left:25px;
  

}

/*student work*/
 
.work_blocks {
  position:relative;
  display:block;
  width:100%;
  background-image:url("../assets/ag-square.png");
  background-repeat: repeat-y repeat-x;
  padding-top:30px;
  margin-right:auto;
  margin-left:auto;
  /*  border:1px solid;*/
  
}


.wrapper_work {
  position:relative;
  width:1120px;
  max-width:1290px;
  height:auto;
  margin-right:auto;
  margin-left:auto;
  /*  border:1px solid;*/
 
  
}



/*student quotes*/

.student_image {
  width:75px;
  height:75px;
  border-radius:50%;
}

#student_quote {
  position:relative;
  float:left;
  width:100%;
  color:#CCCCCC;
  font-size:355%;
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
  margin-top:50px;
  margin-bottom:50px;
  visibility:hidden;
  text-align:center;
  
}

#student_quote h2 {
  position:relative;
  text-align:center;
  color:black;
  font-size:15px;
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
  line-height:10px;

  
}

#student_quote_two {
  position:relative;
  display:block;
  float:left;
  width:100%;
  color:#CCCCCC;
  margin-top:50px;
  margin-bottom:50px;
  font-size:355%;
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
  visibility:hidden;
  text-align:center;
  margin-bottom:50px;
  
}


#student_quote_two h2 {
  position:relative;
  text-align:center;
  color:black;
  font-size:15px;
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
  line-height:10px;
  
}

#student_quote_mobile {
  
  display:none;
  

}

/*work circles*/
.button {
  position:relative;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  width:130px;
  height:auto;
  background-color:black;
  color:white;
  font-size:15px;
  font-family: 'Montserrat', sans-serif;
  font-weight:350;
  padding:1%;
}

.over-work h3 {
  position:relative;
  margin-top:150px;
  margin-bottom:0;
  text-align:center;
  line-height:10px;
  color:white;
  font-size:28px;
  font-family: 'Montserrat', sans-serif;
  font-weight:350;
}

.over-work h4 {
  position:relative;
  text-align:center;
  line-height:10px;
  color:white;
  font-size:15px;
  font-family: 'Montserrat', sans-serif;
  font-weight:350;
}
/*display colored div over work when hover*/
#work-one:hover > .over-work {
  visibility:visible;
}

#work-two:hover > .over-work {
  visibility:visible;
}

#work-three:hover > .over-work {
  visibility:visible;
}
#work-four:hover > .over-work {
  visibility:visible;
}
#work-five:hover > .over-work {
  visibility:visible;
}
#work-six:hover > .over-work {
  visibility:visible;
}

/*overlay div on work circles*/
.over-work {
  position:absolute;
  top:-3px;
  left:-3px;
  display:block;
  width:350px;
  height:350px;
  background-color:#EF3F23;
  visibility:hidden;
  background-color: rgba(231, 30, 39, 0.8);
  
}


#work-one {
  position:relative;
  display:block;
  float:left;
  width:350px;
  height:350px;
  background-color:#EF3F23;
  visibility:visible;
  background-image:url("../assets/work_one.jpg");
  background-repeat:no-repeat;
  background-position: center;
  margin:10px;
  border:4px solid #CCCCCC;
}



#work-two {
  position:relative;
  display:block;
  float:left;
  width:350px;
  height:350px;
  background-color:#EF3F23;
  visibility:visible;
  background-image:url("../assets/work_two.jpg");
  :50%;
  background-position: center;
  margin:10px;
  border:4px solid #CCCCCC;
}



#work-three {
  position:relative;
  display:block;
  float:left;
  width:350px;
  height:350px;
  background-color:#EF3F23;
  visibility:visible;
  background-image:url("../assets/work_three.jpg");
  :50%;
  background-position: center;
  margin:10px;
  border:4px solid #CCCCCC;
}


#work-four {
  position:relative;
  display:block;
  float:left;
  width:350px;
  height:350px;
  background-color:#EF3F23;
  visibility:visible;
  background-image:url("../assets/work_one.jpg");
  background-repeat:no-repeat;
  background-position: center;
  margin:10px;
  border:4px solid #CCCCCC;
}



#work-five {
  position:relative;
  display:block;
  float:left;
  width:350px;
  height:350px;
  background-color:#EF3F23;
  visibility:visible;
  background-image:url("../assets/work_two.jpg");
  background-repeat:no-repeat;
  background-position: center;
  margin:10px;
  border:4px solid #CCCCCC;
}



#work-six {
  position:relative;
  display:block;
  float:left;
  width:350px;
  height:350px;
  background-color:#EF3F23;
  visibility:visible;
  background-image:url("../assets/work_three.jpg");
  background-repeat:no-repeat;
  background-position: center;
  margin:10px;
  border:4px solid #CCCCCC;
}

#quote-mobile {
  position:relative;
  display:block;
  float:left;
  width:350px;
  height:350px;
  display:none;
  background-repeat:no-repeat;
  background-position: center;
  padding:10px;
  
}
/*footer*/

.contact {
  position:relative;
  width:100%;
  background-color:#1B1B1B;
  padding:2%;
  overflow:hidden;
  
}

.contact p {
  color:white;
  font-size:22px;
  font-weight:300;
  line-height:14px;
}


.CTA {
  padding-top:1%;
}


hr {
  color:white;
  width:50%;
}



.sign-up {
  position:relative;
  border:none;
  width:30%;
  background-color:#E71E27;
  color:white;
  text-align:center;
  font-family: 'Montserrat', sans-serif;
  font-size:20px;
  padding:1% 0 1% 0;
  margin-left:auto;
  margin-right:auto;
}

.sign-up:hover {
  background-color:#0078AE;
}

.star {
  position:absolute;
  bottom:-110px;
  left:-110px;
  width:500px;
  opacity:.20;
  z-index:0;
}
.star2 {
  position:absolute;
  bottom:-170px;
  left:-120px;
  width:40%;
  z-index:500;
}

.backtotop {
  position:absolute;
  bottom:30px;
  right:5px;
  display:block;
  background-color:black;
  opacity:.1;
  height:60px;
  width:60px;
  padding:13px 5px 0 5px;
}

.arrow {
  width:100%;
}



@media (max-width: 1180px) {

  .wrapper_work {
    position:relative;
    width:745px;
    max-width:1290px;
    height:auto;
    margin-right:auto;
    margin-left:auto;
    /*    border:1px solid;*/
  }
  
  #star {
    display:none;
  }
  
  #quote-mobile {
    display:block;

  }
  
  .buttontop {
    padding:10px;
  }
  
  #student_quote_mobile {
    position:relative;
    display:block;
    float:left;
    width:100%;
    color:#CCCCCC;
    font-size:255%;
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    margin-top:50px;
    margin-bottom:50px;
    display:block;
    text-align:center;
  
  }
  
  #student_quote {
    display:none;
  }
  
  #student_quote_two {
    display:none;
  }

  .ul_wrap {
    display:none;
  }
  .ocs_logo2 {
    display:none;
  }
  
  .backtotop {
    position:absolute;
    bottom:30px;
    right:0;
    display:block;
    background-color:black;
    opacity:.1;
    height:60px;
    width:60px;
    padding:13px 5px 0 5px;
  
  }
}


/*media query less than 600px*/
@media (max-width: 845px) {
  
  #work-one, 
  #work-two,
  #work-three,
  #work-four,
  #work-five,
  #work-six
  {
    visibility:visible;
    float:none;
    width:350px;
    height:350px;
    margin:0 0 20px 0;
    
  }
  
  .ocs_logo {
    position:absolute;
    top:0;
    right:5%;
    width:100px;
  }
  
  h2 {
    line-height:30px;
  }
  .contact p {
    font-size:15px;
    
  }
  
  .over-work {
    width:350px;
    height:350px;
    visibility:visible;
    background-color: rgba(27, 27, 27, 0.5);
  }
  
  .button {
    background-color:#E71E27;
  }

  #student_quote_two {
    visibility:hidden;
    display:none;
  }

  #student_quote {
    visibility:hidden;
    display:none;
  }

  #quote-mobile {
    float:none;
    width:350px;
    height:350px;
    border:none;
    
  }
  
  .wrapper_work {
    position:relative;
    width:360px;
    max-width:1290px;
    height:auto;
    margin-right:auto;
    margin-left:auto;
    padding-left:2%;
  }
  
  .CTA {
    padding-top:2%;
  }
}

